In [3]:
import pandas as pd 
import numpy as np

In [4]:
#

In [5]:
sal = pd.read_csv('Data/Salaries.csv')

In [6]:
sal.head(3)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN

In [7]:
sal.shape

(148654, 13)

In [8]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [9]:
sal['BasePay'].mean()

66325.44884050643

In [10]:
sal['OvertimePay'].max()

245131.88

In [11]:
sal[['JobTitle', 'EmployeeName']].head(10)

                                         JobTitle        EmployeeName
0  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY      NATHANIEL FORD
1                 CAPTAIN III (POLICE DEPARTMENT)        GARY JIMENEZ
2                 CAPTAIN III (POLICE DEPARTMENT)      ALBERT PARDINI
3            WIRE ROPE CABLE MAINTENANCE MECHANIC   CHRISTOPHER CHONG
4    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)     PATRICK GARDNER
5                       ASSISTANT DEPUTY CHIEF II      DAVID SULLIVAN
6              BATTALION CHIEF, (FIRE DEPARTMENT)           ALSON LEE
7                  DEPUTY DIRECTOR OF INVESTMENTS       DAVID KUSHNER
8              BATTALION CHIEF, (FIRE DEPARTMENT)      MICHAEL MORRIS
9          CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)  JOANNE HAYES-WHITE

In [12]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140546.86,97868.77,31909.28,NaN,270324.91,270324.91,2011,NaN,San Francisco,NaN

In [13]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [14]:
sal['TotalPayBenefits'].max()

567595.43

In [15]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [16]:
sal.loc[sal['TotalPayBenefits'].idxmax()]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                     167411
OvertimePay                                                      0
OtherPay                                                    400184
Benefits                                                       NaN
TotalPay                                                    567595
TotalPayBenefits                                            567595
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

In [17]:
sal['TotalPayBenefits'].idxmax()

0

In [18]:
sal.loc[0]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                     167411
OvertimePay                                                      0
OtherPay                                                    400184
Benefits                                                       NaN
TotalPay                                                    567595
TotalPayBenefits                                            567595
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

In [19]:
sal.iloc[sal['TotalPayBenefits'].idxmax()]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                     167411
OvertimePay                                                      0
OtherPay                                                    400184
Benefits                                                       NaN
TotalPay                                                    567595
TotalPayBenefits                                            567595
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

In [20]:
#

In [21]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [22]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()][['EmployeeName','TotalPayBenefits']]

       EmployeeName  TotalPayBenefits
148653    Joe Lopez           -618.13

In [23]:
sal.iloc[sal['TotalPayBenefits'].argmin()]

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                      0
OvertimePay                                  0
OtherPay                               -618.13
Benefits                                     0
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                     NaN
Name: 148653, dtype: object

In [24]:
#

In [25]:
sal.groupby('Year').mean()

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Notes,Status
Year,,,,,,,,,
2011,18080.0,63595.956517,4531.065429,3617.081926,NaN,71744.103871,71744.103871,NaN,NaN
2012,54542.5,65436.406857,5023.417824,3653.437583,26439.966967,74113.262265,100553.229232,NaN,NaN
2013,91728.5,69630.030216,5281.641980,3819.969007,23829.076572,77611.443142,101440.519714,NaN,NaN
2014,129593.0,66564.421924,5401.993737,3505.421251,24789.601756,75463.918140,100250.918884,NaN,NaN

In [26]:
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [27]:
sal['JobTitle'].nunique()

2159

In [30]:
sal['JobTitle'].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [36]:
sum(sal[sal['Year']== 2013]['JobTitle'].value_counts() == 1)

202

In [38]:
#

In [39]:
def chief_string(title):
    if 'chief' in title.lower().split():
        return True
    else:
        return False

In [50]:
chief_string('chief MANAGER-METROPOLITAN TRANSIT AUTHORITY')

True

In [52]:
sum(sal['JobTitle'].apply(lambda x: chief_string(x)))

477

In [64]:
sal['title_len'] = sal['JobTitle'].apply(len)

In [71]:
sal[['title_len','TotalPayBenefits']].corr()

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

In [72]:
#

In [73]:
#

In [74]:
ecom = pd.read_csv('Data/Ecommerce Purchases')

In [76]:
ecom.head(3)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95

In [77]:
ecom.shape

(10000, 14)

In [81]:
ecom.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [82]:
ecom.index

RangeIndex(start=0, stop=10000, step=1)

In [83]:
len(ecom.columns)

14

In [84]:
len(ecom.index)

10000

In [85]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [86]:
#

In [89]:
ecom['Purchase Price'].mean()

50.34730200000025

In [90]:
ecom['Purchase Price'].max()

99.99

In [91]:
ecom['Purchase Price'].min()

0.0

In [95]:
ecom['Language'].value_counts()

de    1155
ru    1155
el    1137
pt    1118
en    1098
fr    1097
es    1095
it    1086
zh    1059
Name: Language, dtype: int64

In [104]:
ecom[ecom['Language'] == 'en']['Language'].count()

1098

In [127]:
def lawyer_string(title):
    if 'lawyer' in title.lower().split():
        return True
    else:
        return False

In [130]:
sum(ecom['Job'].apply(lambda x : lawyer_string(x)))

30

In [132]:
ecom[ecom['Job'].apply(lambda x : lawyer_string(x))].head(3)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
470,9310 Bailey Mountain Apt. 832\nLake Jacqueline...,67 tQ,PM,Mozilla/5.0 (X11; Linux x86_64; rv:1.9.7.20) G...,White-Hicks,210056645973585,03/19,726,Voyager,francisjohnson@peters-green.com,Lawyer,253.78.210.57,it,64.50
508,"5064 Nicole Circle\nJohnsonburgh, NM 78266-6283",53 rJ,PM,Mozilla/5.0 (Windows NT 5.2; it-IT; rv:1.9.1.2...,"Mcdonald, Green and Jennings",4040542728940631,06/26,101,VISA 16 digit,karen24@hotmail.com,Lawyer,13.128.34.120,ru,94.40
1275,"4394 Sherry Row Suite 034\nSouth Rebecca, MD 6...",80 jP,PM,Opera/9.29.(Windows NT 5.2; en-US) Presto/2.9....,Brewer-Smith,3096214913494379,04/17,124,JCB 15 digit,robertrobertson@ford.biz,Lawyer,245.31.38.181,el,58.05

In [115]:
ecom[ecom['Job'] == 'Lawyer'].head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
470,9310 Bailey Mountain Apt. 832\nLake Jacqueline...,67 tQ,PM,Mozilla/5.0 (X11; Linux x86_64; rv:1.9.7.20) G...,White-Hicks,210056645973585,03/19,726,Voyager,francisjohnson@peters-green.com,Lawyer,253.78.210.57,it,64.50
508,"5064 Nicole Circle\nJohnsonburgh, NM 78266-6283",53 rJ,PM,Mozilla/5.0 (Windows NT 5.2; it-IT; rv:1.9.1.2...,"Mcdonald, Green and Jennings",4040542728940631,06/26,101,VISA 16 digit,karen24@hotmail.com,Lawyer,13.128.34.120,ru,94.40
1275,"4394 Sherry Row Suite 034\nSouth Rebecca, MD 6...",80 jP,PM,Opera/9.29.(Windows NT 5.2; en-US) Presto/2.9....,Brewer-Smith,3096214913494379,04/17,124,JCB 15 digit,robertrobertson@ford.biz,Lawyer,245.31.38.181,el,58.05
1569,"91733 King Mountains Apt. 356\nSouth Tammy, NE...",20 Aa,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Hamilton Group,340721115247942,08/24,673,VISA 16 digit,denise22@hotmail.com,Lawyer,147.0.2.29,pt,30.64
1682,"5691 Fox Mountains\nDudleyside, GU 66765-2101",67 Bk,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_6...,Barker-Hill,346047712475429,06/18,672,VISA 13 digit,roblesallen@hotmail.com,Lawyer,113.242.220.16,it,71.35

In [134]:
ecom[ecom['Job'] == 'Lawyer'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 470 to 9979
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           30 non-null     object
 1   Lot               30 non-null     object
 2   AM or PM          30 non-null     object
 3   Browser Info      30 non-null     object
 4   Company           30 non-null     object
 5   Credit Card       30 non-null     int64
 6   CC Exp Date       30 non-null     object
 7   CC Security Code  30 non-null     int64
 8   CC Provider       30 non-null     object
 9   Email             30 non-null     object
 10  Job               30 non-null     object
 11  IP Address        30 non-null     object
 12  Language          30 non-null     object
 13  Purchase Price    30 non-null     float64
dtypes: float64(1), int64(2), object(11)
memory usage: 3.5+ KB

In [135]:
ecom[ecom['Job'] == 'Lawyer'].count()

Address             30
Lot                 30
AM or PM            30
Browser Info        30
Company             30
Credit Card         30
CC Exp Date         30
CC Security Code    30
CC Provider         30
Email               30
Job                 30
IP Address          30
Language            30
Purchase Price      30
dtype: int64

In [138]:
len(ecom[ecom['Job'] == 'Lawyer'].index)

30

In [142]:
ecom['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

In [145]:
ecom['Job'].value_counts().head(5)

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Designer, jewellery              27
Purchasing manager               27
Name: Job, dtype: int64

In [152]:
#

In [156]:
ecom[ecom['Lot'] == '90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

In [159]:
ecom[ecom['Credit Card'] == 4926535242672853]

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
1234,"2470 Maria Manors Suite 185\nJoneshaven, MN 87251",82 UX,PM,Mozilla/5.0 (X11; Linux x86_64; rv:1.9.5.20) G...,"Cole, King and Bowers",4926535242672853,09/21,188,American Express,bondellen@williams-garza.com,Planning and development surveyor,159.182.3.50,ru,77.88

In [160]:
#

In [161]:
ecom.head(3)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95

In [167]:
ecom[ (ecom['CC Provider'] == 'American Express') & (ecom['Purchase Price'] > 95)].count()

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

In [168]:
#

In [188]:
ecom[ecom['CC Exp Date'].apply(lambda exp: exp[3:] == '25')].count()

Address             1033
Lot                 1033
AM or PM            1033
Browser Info        1033
Company             1033
Credit Card         1033
CC Exp Date         1033
CC Security Code    1033
CC Provider         1033
Email               1033
Job                 1033
IP Address          1033
Language            1033
Purchase Price      1033
dtype: int64

In [189]:
#

In [192]:
ecom['Email'].unique()

array(['pdunlap@yahoo.com', 'anthony41@reed.com',
       'amymiller@morales-harrison.com', ..., 'tyler16@gmail.com',
       'elizabethmoore@reid.net', 'rachelford@vaughn.com'], dtype=object)

In [197]:
ecom['Email']

0                    pdunlap@yahoo.com
1                   anthony41@reed.com
2       amymiller@morales-harrison.com
3          brent16@olson-robinson.info
4          christopherwright@gmail.com
                     ...
9995            iscott@wade-garner.com
9996                mary85@hotmail.com
9997                 tyler16@gmail.com
9998           elizabethmoore@reid.net
9999             rachelford@vaughn.com
Name: Email, Length: 10000, dtype: object

In [211]:
example_email = ecom['Email'].iloc[0]

In [219]:
example_email.split('@')[1]

'yahoo.com'

In [228]:
ecom['Email'].apply(lambda x: x.split('@')[1]).value_counts().head()

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64